<!DOCTYPE html>
<html>
  <head>
    <title>Mosaic Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    {% if matrix %}
    <div id="drawMosaic" data-matrix='{{ matrix }}'>
    </div>
    {% endif %}

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <div align="center">
    <h1>Mosaic Maker</h1>
    <p>Drag tiles onto the grid to make a knot mosaic, or search and display your favorite knot* as a space efficient mosaic! </br>
       Right click a tile to roatate it!
    </p>
    </div><!-- top content -->
    <div align="center"> 

     <form autocomplete="off" action="/" method="post">

     Search a knot: <div class="autocomplete" > <input id="knotSearchInput" type="text" name="knotSearch" placeholder="knot name" {% if lastSearch %}value="{{ lastSearch }}" {% endif %}>
</div>
<input type="submit" value="Display Knot"><br>
<em>Example: 3_1, 10_54, 11a_98, 12n_522</em>
<br>
       First Priority: <select name="minOpt1" id="sel1" onchange="setOptions()">
       {% if resultsDict %}
          <option value="Crossings" {% if resultsDict['min1'] != "Crossings" %}selected="selected"{% endif%}>Minimize crossings</option>
           <option value="Mosaic" {% if resultsDict['min1'] == "Mosaic" %}selected="selected"{% endif%}>Minimize mosaic</option>
           <option value="TileNum" {% if resultsDict['min1'] == "TileNum" %}selected="selected"{% endif%}>Minimize tiles</option>
         </select>
         Second: <select name="minOpt2" id="sel2">
           <option value="Crossings" {% if resultsDict['min2'] == "Crossings" %}selected="selected"{% endif%}">Minimize crossings</option>
           <option value="Mosaic" {% if resultsDict['min2'] == "Mosaic" %}selected="selected"{% endif%}>Minimize mosaic</option>
           <option value="TileNum" {% if resultsDict['min2'] == "TileNum" %}selected="selected"{% endif%}>Minimize tiles</option>
       {% else %}
       <option value="Crossings" selected="selected">Minimize crossings</option>
       <option value="Mosaic" >Minimize mosaic</option>
       <option value="TileNum">Minimize tiles</option>
       </select>
       Second: <select name="minOpt2" id="sel2">
       <option value="Crossings" >Minimize crossings</option>
       <option value="Mosaic" selected="selected">Minimize mosaic</option>
       <option value="TileNum">Minimize tiles</option>
       {% endif %}
       </select>
     </form>
   </div>
    
</br>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Mosaic Size</button>
        <div id="myDropdown" class="dropdown-content">
          <a id="size2" value="2"  onclick="tableCreate(2, '0')" >2x2</a>
          <a id="size3" value="3"  onclick="tableCreate(3, '0')" >3x3</a>
          <a id="size4" value="4"  onclick="tableCreate(4, '0')" >4x4</a>
          <a id="size5" value="5"  onclick="tableCreate(5, '0')" >5x5</a>
          <a id="size6" value="6"  onclick="tableCreate(6, '0')" >6x6</a>
          <a id="size7" value="7"  onclick="tableCreate(7, '0')" >7x7</a>
          <a id="size8" value="8"  onclick="tableCreate(8, '0')" >8x8</a>
          <a id="size9" value="9"  onclick="tableCreate(9, '0')" >9x9</a>
          <a id="size10" value="10" onclick="tableCreate(10, '0')">10x10</a>
        </div>
    </div>
    <div class="dropdown">
      <button onclick="dropdownFunc2()" class="dropbtn">Space Efficient Layouts</button>
        <div id="chooseKnot" class="dropdown-content">
          <div id="6x6layouts" >
            <a id="layout5-17"  onclick="tableCreate(5, '0,2,1,0,0,2,0,0,1,0,3,0,0,0,1,0,3,0,0,4,0,0,3,4,0')" >5-17</a>
            <a id="layout6-22"  onclick="tableCreate(6, '0,2,1,0,0,0,2,0,0,1,0,0,3,0,0,0,1,0,0,3,0,0,0,1,0,0,3,0,0,4,0,0,0,3,4,0')" >6-22</a>
            <a id="layout6-24"  onclick="tableCreate(6, '0,2,1,0,0,0,2,0,0,1,0,0,3,0,0,0,1,0,2,0,0,0,4,0,3,0,0,4,0,0,0,3,4,0,0,0')" >6-24</a>
            <a id="layout6-27"  onclick="tableCreate(6, '0,2,1,2,1,0,2,0,0,0,0,1,3,0,0,0,0,4,0,3,0,0,0,1,0,0,3,0,0,4,0,0,0,3,4,0')" >6-27</a>
            <a id="layout6-32"  onclick="tableCreate(6, '0,2,1,2,1,0,2,0,0,0,0,1,3,0,0,0,0,4,2,0,0,0,0,1,3,0,0,0,0,4,0,3,4,3,4,0')" >6-32</a>
          </div> <!-- 6x6layouts -->
          <div id="7x7layouts">
          <a id="layout7-28"  onclick="tableCreate(7, '0,2,1,0,0,0,0,2,0,0,1,0,0,0,3,0,0,0,1,0,0,0,3,0,0,0,1,0,0,0,3,0,0,0,1,0,0,0,3,0,0,4,0,0,0,0,3,4,0')" >7-27</a>
          <a id="layout7-29" onclick="tableCreate(7, '0,2,1,0,0,0,0,2,0,0,1,0,0,0,3,0,0,0,1,0,0,2,0,0,0,0,1,0,3,0,0,0,0,4,0,0,3,0,0,4,0,0,0,0,3,4,0,0,0')" >7-29</a>
          <a id="layout7-31" onclick="tableCreate(7, '0,0,2,1,0,0,0,0,2,0,0,1,0,0,2,0,0,0,0,1,0,3,0,0,0,0,0,1,0,3,0,0,0,0,4,0,0,3,0,0,4,0,0,0,0,3,4,0,0')" >7-31</a>
          <a id="layout7-32" onclick="tableCreate(7, '0,2,1,0,0,0,0,2,0,0,1,0,0,0,3,0,0,0,1,0,0,2,0,0,0,0,1,0,3,0,0,0,0,0,1,0,3,4,3,0,0,4,0,0,0,0,3,4,0')" >7-32</a>
          <a id="layout7-34" onclick="tableCreate(7, '0,2,1,0,0,0,0,2,0,0,1,0,0,0,3,0,0,0,1,0,0,2,0,0,0,0,1,0,3,0,0,0,0,0,1,0,3,0,0,0,0,4,0,0,3,4,3,4,0')" >7-34</a>
          <a id="layout7-36" onclick="tableCreate(7, '0,2,1,2,1,0,0,2,0,0,0,0,1,0,3,0,0,0,0,0,1,2,0,0,0,0,0,4,3,0,0,0,0,4,0,0,3,0,0,4,0,0,0,0,3,4,0,0,0')" >7-36</a>
          </div> <!-- 7x7layouts -->
        </div>
    </div>
</br>
</br>
  <div class="container" style="display: flex">
  <div style="width:{% if resultsDict %}50%{% else %}100%{% endif %}" > <!-- mosaic -->
    <div id="trash" draggable="false" class="trash" ondrop="trashdrop(event)" ondragover="allowDrop(event)">
      <img  src="{{url_for('static', filename='pictures/trash.PNG')}}" width="75" height="75"></div>
    <table align="center" border="0">
      <tr>
        <td class="tileDisp"><div id=T1 ><img class="mosaicImage" id="drag1"  src="{{url_for('static', filename='pictures/T_1.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px" ></div></td>
        <td class="tileDisp"><div id=T2 ><img class="mosaicImage" id="drag2"  src="{{url_for('static', filename='pictures/T_2.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T3 ><img class="mosaicImage" id="drag3"  src="{{url_for('static', filename='pictures/T_3.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T4 ><img class="mosaicImage" id="drag4"  src="{{url_for('static', filename='pictures/T_4.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T5 ><img class="mosaicImage" id="drag5"  src="{{url_for('static', filename='pictures/T_5.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T6 ><img class="mosaicImage" id="drag6"  src="{{url_for('static', filename='pictures/T_6.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T7 ><img class="mosaicImage" id="drag7"  src="{{url_for('static', filename='pictures/T_7.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T8 ><img class="mosaicImage" id="drag8"  src="{{url_for('static', filename='pictures/T_8.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T9 ><img class="mosaicImage" id="drag9"  src="{{url_for('static', filename='pictures/T_9.PNG')}}"  draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
        <td class="tileDisp"><div id=T10><img class="mosaicImage" id="drag10" src="{{url_for('static', filename='pictures/T_10.PNG')}}" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)"  width="50px" height="50px"></div></td>
      </tr>
     </table>

<p><p>

<div id='tableau'>
    <table align="center">

    </table> 

  </div>




</br>

<div id="ans" align="center">
{% if answer %}
{{ answer }}
{% endif %}
</div>

</br>

</br>
<div align="center">
     <form action="/" method="post">
<button type="button" onclick="tableClear()" class="clearbtn">Clear Mosaic</button>
     <input type="hidden" id="flaskVector" name="vector" value={% if matrix %}'{{ matrix }}'{% else %}'0'{% endif %}></input>
     <input type="submit" name="vector2Flask" class="dropbtn" value="Identify Knot"></input>
     </form>      
</div>

</div> <!-- mosaic -->

{% if resultsDict %}
<div id="resultsTable" style="flex-grow: 1;margin: auto">
<table class="results">
<tr>
  <th>Number of Tiles</th>
  <th>Crossings</th>
  <th>Mosaic Size</th>
</tr>
<tr>
  <td class="{{ resultsDict['realized'][0] }}">{{ resultsDict['tiles'] }}</td>
  <td class="{{ resultsDict['realized'][2] }}">{{ resultsDict['crossings'] }}</td>
  <td class="{{ resultsDict['realized'][1] }}">{{ resultsDict['mosaic'] }}</td>
</tr>
</table>
<span style="color: #00FF00">&#11035;</span>: Minimum realized</br>
<span style="color: #87CEFA">&#11035;</span>: Minimum realized on other mosaic</br>
<span>&#11036;</span>: Mosaic with this realized unknown
</div>
{% endif %}
</div> <!-- container -->


<p>*All knots with crossing number 10 or less have a space-efficient minimal knot moasic. Knots with higher crossing numbers may be missing.<p>

<script>
// initiating the autocomplete function on the knot search input
var nameArray = {{ knotNames|tojson }};
autocomplete(document.getElementById("knotSearchInput"), nameArray);

/* setting the search options */
{%if resultsDict %}
  setOptions('{{ resultsDict['min1'] }}', '{{ resultsDict['min2'] }}');
{% else %} setOptions();
{% endif %}

</script>

  </body>
</html>
